<h1>MADS Topics</h1>

<div>
  <ul>
    <% @document.each do |doc|
       @title = doc['name_tesim']
       @title = @title.first if @title.kind_of?(Array) %>
      <li><%= link_to @title, mads_topic_path(doc) %></li>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to "Create MADS Topics", new_mads_topic_path, :class => 'btn btn-primary'%>
</div>
